.container  {
    width: 1100px;
    margin: 0 auto;
    background: #e6e6e6;
}
header {
    background: #333;
    height: 120px;
}
.logo {
    width: 1100px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
}
.text {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-shadow: -2px 4px 2px rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-weight: bold;
}
.movie {
    display: inline-block;
    margin: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding: 20px;
}
.image {
    width: 180px;
}
#root {
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 10px 60px 2px rgba(0,0,0,0.50);
}