.container{
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background: #51576b;
    border-bottom: 10px solid #bd2d30;
    color: #fff;
}
.logo{
    float: left;
    padding: 8px 0 8px 43px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    margin-top: 15px;
}
.main-nav{
    margin-left: 500px;
}
.main-nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 32px 29px 28px 29px;
}
.main-nav a:hover{
    background: #5a6791;
}
.title{
    font-size: 25px;
    background: #d34346;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border-left: 10px solid #c62f31;
    margin: 10px 0 51px;
    padding: 12px 10px 16px 20px;
}
.prices{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.price-card{
    width: 22%;
    padding: 0 18px;
    margin-bottom: 30px;
}
.price-link{
    text-decoration: none;
    display: block;
    color: #314559;
    background: #f7f7f7;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.price-title{
    margin: 0;
    padding: 11px 10px 16px 16px;
    background: #314559;
    border-left: 10px solid #22303e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.price{
    margin: 0;
    padding: 9px 10px 13px 27px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
}
.price-services-list{
    margin: 0;
    padding: 0 0 34px 0;
    list-style: none;
}
.price-services-list li{
    padding: 15px 10px 16px 23px;
    border-bottom: 1px solid #efefef;
}
.price-services-list li:last-child{
    border-bottom: none;
}
.far{
    padding-right: 11px;
}
.price-button{
    padding: 13px 0 14px;
    background: #314559;
    border-top: 11px solid #efefef;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: auto;
}
.price-link:hover{
    color: #d34346;
}
.price-link:hover .price-button{
    background: #d34346;
}
.price-link:hover .price-title{
    background: #d34346;
    border-left: 10px solid #c62f31;
}
footer{
    background: #314559;
    padding: 21px 0;
    margin-top: 58px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer .design{
    color: #7694b3;
    float: right;
    padding-right: 40px;
}